---
import Quiz from "../components/Quiz.jsx";
---

<html class="p-0 m-0 box-border overflow-hidden" lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Quiz on touch screen</title>
	</head>
	<body
		class="bg-[#212322] text-white relative w-full overflow-hidden font-apercu"
	>
		<Quiz client:only="react" />
	</body>
</html>

<style is:global>
	/* apercu-regular-pro */

	@font-face {
		font-family: "apercu-reg";
		src: url("/fonts/apercu-regular-pro.eot");
		src:
			url("/fonts/apercu-regular-pro.eot?#iefix") format("embedded-opentype"),
			url("/fonts/apercu-regular-pro.woff2") format("woff2"),
			url("/fonts/apercu-regular-pro.woff") format("woff"),
			url("/fonts/apercu-regular-pro.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	/* apercu-bold-pro */

	@font-face {
		font-family: "apercu-bold";
		src: url("/fonts/apercu-bold-pro.eot");
		src:
			url("/fonts/apercu-bold-pro.eot?#iefix") format("embedded-opentype"),
			url("/fonts/apercu-bold-pro.woff2") format("woff2"),
			url("/fonts/apercu-bold-pro.woff") format("woff"),
			url("/fonts/apercu-bold-pro.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	/* apercu-italic-pro */

	@font-face {
		font-family: "apercu-italic";
		src: url("/fonts/apercu-italic-pro.eot");
		src:
			url("/fonts/apercu-italic-pro.eot?#iefix") format("embedded-opentype"),
			url("/fonts/apercu-italic-pro.woff2") format("woff2"),
			url("/fonts/apercu-italic-pro.woff") format("woff"),
			url("/fonts/apercu-italic-pro.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	/* fk-screamer-legacy */

	@font-face {
		font-family: "fk-screamer";
		src: url("/fonts/FKScreamerLegacy-Upright.woff2");
		src:
			url("/fonts/FKScreamerLegacy-Upright.woff2") format("woff2"),
			url("/fonts/FKScreamerLegacy-Upright.woff") format("woff"),
			url("/fonts/FKScreamerLegacy-Upright.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	.video {
		clip-path: polygon(
			36.222% 0%,
			36.222% 0%,
			35.787% 0.041%,
			35.43% 0.158%,
			35.144% 0.346%,
			34.922% 0.598%,
			34.754% 0.908%,
			34.635% 1.269%,
			34.555% 1.675%,
			34.508% 2.12%,
			34.485% 2.597%,
			34.479% 3.099%,
			34.479% 17.983%,
			34.479% 17.983%,
			34.442% 18.486%,
			34.333% 18.963%,
			34.158% 19.408%,
			33.924% 19.814%,
			33.636% 20.175%,
			33.301% 20.485%,
			32.924% 20.738%,
			32.51% 20.926%,
			32.068% 21.043%,
			31.601% 21.084%,
			2.879% 21.084%,
			2.879% 21.084%,
			2.412% 21.124%,
			1.969% 21.242%,
			1.556% 21.43%,
			1.179% 21.682%,
			0.843% 21.992%,
			0.555% 22.353%,
			0.321% 22.76%,
			0.147% 23.204%,
			0.038% 23.682%,
			0% 24.185%,
			0% 96.899%,
			0% 96.899%,
			0.038% 97.402%,
			0.147% 97.879%,
			0.321% 98.324%,
			0.555% 98.73%,
			0.843% 99.092%,
			1.179% 99.402%,
			1.556% 99.654%,
			1.969% 99.842%,
			2.412% 99.959%,
			2.879% 100%,
			54.687% 100%,
			54.687% 100%,
			55.154% 99.959%,
			55.597% 99.842%,
			56.01% 99.654%,
			56.387% 99.402%,
			56.723% 99.092%,
			57.011% 98.73%,
			57.245% 98.324%,
			57.42% 97.879%,
			57.529% 97.402%,
			57.567% 96.899%,
			57.567% 82.015%,
			57.567% 82.015%,
			57.605% 81.513%,
			57.714% 81.035%,
			57.888% 80.591%,
			58.122% 80.184%,
			58.41% 79.823%,
			58.746% 79.513%,
			59.123% 79.261%,
			59.536% 79.073%,
			59.979% 78.955%,
			60.446% 78.915%,
			97.12% 78.915%,
			97.12% 78.915%,
			97.587% 78.874%,
			98.03% 78.757%,
			98.443% 78.569%,
			98.82% 78.316%,
			99.155% 78.006%,
			99.443% 77.645%,
			99.677% 77.239%,
			99.852% 76.794%,
			99.961% 76.317%,
			99.999% 75.814%,
			99.999% 3.099%,
			99.999% 3.099%,
			99.961% 2.596%,
			99.852% 2.119%,
			99.677% 1.675%,
			99.443% 1.269%,
			99.155% 0.907%,
			98.82% 0.598%,
			98.443% 0.346%,
			98.03% 0.158%,
			97.587% 0.041%,
			97.12% 0%,
			36.222% 0%
		);
		z-index: 1;
		object-fit: cover;
	}
</style>
